<!doctype html>
    <html lang="ja">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <title>正装度チェッカー</title>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        </head>
        <body>

            <!-- header -->
            <header>
                
                <!-- header-wrapper -->
                <div class="header-wrapper">
                    <img src="images/bg_header.png" alt="" style="background-color: aquamarine;">

                    <!-- header-text -->
                    <div class="col-sm-10 header-text">
                        <h1>
                            <p>その服、</p>
                            <p>オフィスカジュアル</p>
                            <p>ですか？</p>
                        </h1>
                    </div>
                    <!-- //header-text -->

                </div>
                <!-- //header-wrapper -->

            </header>
            <!-- //header -->

            <main class="container">
                {% block content %}
                {% endblock %}
            </main>
            
            <!-- footer -->
            <footer>
                <div class="container">
                    <small>&copy;2020&nbsp;株式会社サンシーア</small>
                </div>
            </footer>
            <!-- //footer -->

        </body>
    </html>